body{
    height: 1500px;
}
.toptitle{
    height: 260px;
    background-color: rgb(226, 226, 226);
    position: relative;
}
.txtbox{
    height: 600px;
    /* background-color: rgb(255, 235, 235); */
}
.w{
    width: 1400px;
    margin: 0 auto;
}
.main h4{
    font-size: 25px;
    color: rgb(57, 188, 240);
}
.main{
    position: relative;
}
.mian p{
    padding-top: 40px;
}
.main img{
    float: right;
    width: 388px;
    height: 300;
}
.txtbox2{
    height: 500px;
    /* background-color: antiquewhite; */
    margin-bottom: 30px;
    margin-top: 40px;
}
.main2{
    position: relative;
    height: 100%;
    background-color: white;
}
.main2 h4{
    font-size: 25px;
    color: rgb(57, 188, 240);
}
.mian2{
    position: relative;
}
.main2 .zuo{
    width: 700px;
    height: 80%;
    /* background-color: aqua; */
    float: left;
    line-height: 36px;
    padding-top: 20px;
    font-size: 20px;
}
.main .lef{
    position: absolute;
    width: 900px;
    height: 400px;
    /* background-color: antiquewhite; */
    top: 95px;
}
.main2 .right{
    width: 550px;
    height: 80%;
    float: right;
    /* background-color: aqua; */
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(./compressed/3.png);
    background-repeat: no-repeat;  
    background-size: cover;  
}
.main2 .right3{
    width: 550px;
    height: 60%;
    float: right;
    /* background-color: aqua; */
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(./compressed/4.png);
    background-repeat: no-repeat;  
    background-size: cover;  
}
.imglist{
    /* position: relative; */
    height: 620px;
    /* background-color: rgb(204, 204, 204); */

}
.imglist video{
    width: 480px;
    height: 270px;
    margin-left: 110px;
    margin-bottom: 30px;
}
.main3{
    position: relative;
    /* background-color: antiquewhite; */
}
.imglist .s1{
    position: absolute;
    left: 145px;
    top: 280px;
}

.imglist .main3 .s2{
    position: absolute;
    right: 215px;
    top: 280px;
}
.imglist .main3 .s3{
    position: absolute;
    left: 145px;
    top: 580px;
}
.imglist .main3 .s4{
    position: absolute;
    right: 215px;
    top: 580px;
}
.box{
    height: 1000px;
    /* background-color: antiquewhite; */
}
.box .main4{
    height: 100%;
    /* background-color: aliceblue; */
}
.main4 .left{
    width: 880px;
    height: 100%;
    /* background-color: aqua; */
    float: left;
}
.left div{
    width: 400px;
    height: 400px;
    /* background-color: rgb(85, 85, 85); */
    float: left;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 10px;
}
.left div .img{
    display: block;
    width: 100%;
    height: 160px;
}
.left div .img video{
    width: 100%;
    height: 100%;
}
.main4 .right{
    width: 510px;
    height: 100%;
    background-color: white;
    float: right;
}
.right .top{
    margin-bottom: 16px;
    padding-left: 30px;
    width: 100%;
    height: 420px;
    background-color: rgb(255, 255, 255);
}
.right .bot{
    padding-left: 30px;
    width: 100%;
    height: 420px;
    /* background-color: rgb(243, 215, 215); */
}
.txtimgbox{
    height: 600px;
    /* background-color: antiquewhite; */
}
.main5 .voi{
    width: 720px;
    height: 100%;
    /* background-color: aliceblue; */
}
.main5{
    position: relative;
}
.main5 .txt{
    height: 78%;
    width: 600px;
    /* background-color: rgb(250, 208, 153); */
    position: absolute;
    right: 0;
    top: 100px;
}